@import 'utils/variables';
@import 'components/type';

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');

/*VARIABLES*/
:root {
    --color-bg: #375E70;
    --color-textprinc: #010101;
    --color-textsecond: #F9F9F9;
    --color-secondary: #0FA6B1;
}

html{
    background-color: var(--color-bg);
}

body{
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    color: var(--color-text);
}

.identity{
    background-color: var(--color-textsecond);
    // position: absolute;
    margin: 0 auto;
    width: 242px;
    height: 388px;
    // left: 74px;
    border-radius: 7%;

    &__box{
        list-style-type: none;

        &--img{
            margin-left: 60%;
            z-index: 1;
        }

        &--el{
            margin-top: 30px;
            z-index: 2;
        }

        &--el:nth-child(-n+2){
            display : inline-block;
            font-size: 18px;
        }

        &--el:last-child{
            margin-right : 15px;
        }
    }


}
