@import 'utils/variables';
@import 'components/type';

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');

/*VARIABLES*/
:root {
    --color-bg: #375E70;
    --color-textprinc: #F9F9F9;
    --color-textsecond: #010101;
    --color-textthird: #375E70;
    --color-secondary: #0FA6B1;
}

*{
    padding: 0;
    margin: 0;
}

html{
    background-color: var(--color-bg);
}

body{
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: var(--color-textprinc);

    margin: 30px;
}

.subtitle{
    font-size: 32px;
    margin: 50px 0 36px;
}

p{
    margin-bottom: 18px;
}

.hiddencontent{
    overflow: hidden;
    text-indent:100%;
}

.block{
    height: 100vh;
}

.logo{
    display: block;
    margin: 50% auto;
    width: 80%;
    top: 98px;
}

.intro{
    width: 100%;

    position: relative;

    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    align-items: center;

    color: #F9F9F9;

    &__img{
        position: absolute;
        top: 60%;
    }

    &__text{
        width: 80%;
        margin-left: 100%;
        transform: translateX(-90%);
        font-size: 15px;
    }
}

.video{

    width: 100%;

    &__trailer {
    border: 1px solid black;
    width: 100%;
    height: 250px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    }
}

.benefics{

    &__img{
        width: 100%;
        margin:18px 0;
    }
}

.identity{
    background-color: var(--color-textprinc);
    margin: 0 auto;
    width: 85%;
    height: 388px;
    border-radius: 7%;
    position: relative;
    font-size: 15px;
    color: var(--color-textsecond);

    &__box{
        list-style-type: none;
        padding-inline-start: 15px;

        &--img{
            position: absolute;
            top: 10px;
            right: 10px;


            overflow: hidden;
            text-indent:100%;

            height: 70px;
            width: 70px;
            background-image: url(../assets/images/Carré.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            transform: rotate(180deg);
        }

        &--el{
            margin: 30px 15px 15px 0px;
        }

        &--el:nth-child(-n+2){
            display : inline-block;
            font-size: 18px;
            margin: 0px;
            margin-top: 40px;
   
        }
    }


}


.slider{
    width: 320px;
    overflow: hidden;
    margin: 36px auto;

    &__slides{
        width: calc(320px * 3);
        animation: slide 39s infinite;
    
        &--img{
            float: left;
            width: 320px;
        }
    }
}

@keyframes slide{
    0%{
        transform: translateX(0px);
    }
    30%{
        transform: translateX(0px);
    }
    33%{
        transform: translateX(-320px);
    }
    63%{
        transform: translateX(-320px);
    }
    66%{
        transform: translateX(-640px);
    }
    96%{
        transform: translateX(-640px);
    }
    100%{
        transform: translateX(0px);
    }
}

.notice{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn_identity, .critics, .btn_submit{
    font-family: 'Exo 2', sans-serif;
    height: 45px;
    width: 55%;
    border: var(--color-bg) solid 3px;
    border-radius: 10px;
    color: var(--color-textthird);
    background-color: var(--color-textprinc);
    cursor: pointer;


    position: relative;
    margin: 30px auto 30px;
}

.formcontainer{
    margin: 20px;
}

.form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__input{

        width: 100%;
        height: 30px;

        &--notice{
            width: 300px;
            padding: 0;
            border: none;
            margin-top: 20px;
            height: 40vh;
        }
    }

    .box{
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        label{
            width: 300px;
            margin:8px;
        }
    } 

}

.close{
    padding-right: 20px;
    color: var(--color-textprinc);
}

.essais{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 36px auto;
        color: var(--color-bg);
        background-color: var(--color-textprinc);
        border-radius: 7%;
        max-width: 85%;
        padding: 16px;
    }
    &__text{
        text-align: center;
        margin: 36px 0;
    }
}

.popup {
    background-color: #375E70F2;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;

}

.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 50px;
    color: #171717;
    border: none;
    outline: none;
    cursor: pointer;
}

.removeblock{
    display: none;
}



/*FOOTER*/
.footer{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--color-bg);

    border-top: var(--color-text) 1px solid;
}

.links__footer, .credits, .figma{
    color: var(--color-text);
    transition: 0.5s;
}

.links__footer:hover, .credits:hover, .figma:hover{
    text-decoration: none;
    transition: 0.5s;
}

.figma{
    font-size: 32px;
    margin: 16px auto;
}

.menu__navigation{
    padding-bottom: 20px;
}

.menu__ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu__ul :nth-child(1){
    padding-left: 0;
}



//Case Study
.boxCS{
    margin-left: 18px;
}

.title{
    margin-top: 50px;
    margin-bottom: 30px;
    color: var(--color-textprinc);
}

.text{
    margin-top: 30px;

}

.img{
    width: 100%;
}

.blockCS{
    height: 40vh
}



@media (min-width: 736px){

    body{
        font-size:22px;
    }

    .block {
        height: 65vh;
    }

    .logo{
        margin: 25% auto 5%;
    }

    .video{
        margin-top: 25%;
    }

    .intro{
        &__text{
            width: 50%;
            margin-left: 46%;
            transform: translateX(-50%);
            margin-top: 20px;
        }
        &__img{
            top: 63px;
            /* bottom: 5%; */
            left: 4%;
            transform: scale(0.6);
        }
    }

    .video__trailer{
        width: 80%;
        height: 350px;
    }

    .subtitle{
        font-size: 38px;
    }

    .benefics{

        &__img{
            width: 40%;
            height: 30%;
        }
        
        &__text{
            margin: 20px;
            margin-right: 40px;
        }
    }

    .container{
        display: flex;
        align-items: center;
    }

    .container:nth-of-type(even){
        flex-direction: row-reverse;
    }


    .tipsers{
        
        &__text{
            margin: 20px;
            margin-right: 40px;
            width: 50%;
        }
    }

    .identity{
        &__box{
            list-style-type: none;
            padding-inline-start: 15px;
    
            
    
            &--el{
                margin: 30px 15px 15px 0px;
                font-size: 18px;
            }
    
            &--el:nth-child(-n+2){
                display : inline-block;
                font-size: 20px;
                margin: 0px;
                margin-top: 40px;
       
            }
        }
    
    
    }
    
    .btn_identity, .critics, .btn_submit{
        font-size:18px;
    }
    

    //Case Study

    .boxCS{
        display: flex;
        flex-direction: row;
    }

    .text{
        &--TFA{
            margin-right: 10%;
        }
    }

    .title{
        &--TFA{
            font-size: 56px;
        }
    }

    .subtitleCS{
        &--TFA{
            font-size: 32px;
        }
    }

    .img{
        width: 50%;
    }


}

@media(min-width:1024px){
    .logo{
        width: 45%;
        margin: 10% auto 5%;
    }

    .video__trailer{
        height: 80vh;
    }

    .identity, .essais__container{
        width: 50%;
    }

    .btn_identity, .btn_submit{
        width: 20%;
    }

    .benefics{
        &__text{
            width: 75%;
            margin: 40px 80px;
        }
    }

    .tipsers{
        &__text{
            width: 30%;
        }
    }

    .img {
        width: 25%;
    }

    .TFA:first-of-type{
        margin: 10% 0 0;
    }
}